.box-container {
    position: relative;
    width: 200px;
    height: 200px;
    top: 40%;
    left: 40%;
}

.box-main {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 3;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #34d0eb 0%, #343aeb 100%),
        linear-gradient(to bottom, #343aeb 0%, #343aeb 100%),
        linear-gradient(to right, #34d0eb 0%, #343aeb 100%),
        linear-gradient(to bottom, #34d0eb 0%, #34d0eb 100%);
    background-size: 100% 10px,
        10px 100%,
        100% 10px,
        10px 100%;
    background-position: 0 0,
        100% 0,
        100% 100%,
        0 100%;
    animation: appear-box 16s infinite;
    animation-timing-function: ease;
    animation-play-state: running;
    animation-fill-mode: backwards;
}

.box-white {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 5;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, white 0%, white 100%),
        linear-gradient(to bottom, white 0%, white 100%),
        linear-gradient(to right, white 0%, white 100%),
        linear-gradient(to bottom, white 0%, white 100%);
    background-size: 100% 10px,
        10px 100%,
        100% 10px,
        10px 100%;
    background-position: 0 0,
        100% 0,
        100% 100%,
        0 100%;
    animation: disappear-box 16s infinite;
    animation-timing-function: ease;
    animation-play-state: running;
    animation-fill-mode: backwards;
}

@keyframes appear-box {
    0% {
        background-size: 0 10px,
            10px 0,
            0 10px,
            10px 0;
    }

    25% {
        background-size: 100% 10px,
            10px 0,
            0 10px,
            10px 0;
    }

    50% {
        background-size: 100% 10px,
            10px 100%,
            0 10px,
            10px 0;
    }

    75% {
        background-size: 100% 10px,
            10px 100%,
            100% 10px,
            10px 0;
    }

    100% {
        background-size: 100% 10px,
            10px 100%,
            100% 10px,
            10px 100%;
    }
}

@keyframes disappear-box {
    0% {
        background-size: 0 10px,
            10px 0,
            0 10px,
            10px 0;
    }

    25% {
        background-size: 0% 10px,
            10px 0,
            0 10px,
            10px 95%;
    }

    50% {
        background-size: 95% 10px,
            10px 0%,
            0 10px,
            10px 0;
    }

    75% {
        background-size: 95% 10px,
            10px 95%,
            0% 10px,
            10px 0;
    }

    100% {
        background-size: 95% 10px,
            10px 95%,
            95% 10px,
            10px 0%;
    }
}