.instructions {
    position: absolute;
    top: 10%;
    width: 100%;
    margin: 5px;
}

.instructions h2 {
    font-size: 35px;
    text-align: center;
    color: #34d0eb;
    animation: text-color 16s infinite;
}

@keyframes text-color {
    0% {
        color: #34d0eb;
    }

    25% {
        color: #343aeb;
    }

    50% {
        color: #343aeb;
    }

    75% {
        color: #34d0eb;
    }

    100% {
        color: #34d0eb;
    }
}