.timer {
    position: absolute;
    top: 22%;
    width: 100%;
    margin: 5px;
}

.timer h1 {
    font-size: 80px;
    text-align: center;
    color: #34d0eb;
    animation: text-color 16s infinite;
}

@keyframes text-color {
    0% {
        color: #34d0eb;
    }

    25% {
        color: #343aeb;
    }

    50% {
        color: #343aeb;
    }

    75% {
        color: #34d0eb;
    }

    100% {
        color: #34d0eb;
    }
}